.login-wrapper {
  width: 40%;
  margin: 0 auto;
  padding: 18vh 0;

  h2 {
    margin-bottom: 40px;
  }

  form {
    div {
      margin-bottom: 30px;

      input {
        width: 100%
      }
    }
  }
}
