.board {
  background: #f8f9fa;
  border: 1px solid #dee2e6;
  margin-top: 20px;
  padding: 1rem;
  display: flex;
  overflow-x: auto;

  .list {
    border: 1px solid #dee2e6;
    padding: 1rem;
    margin-right: 20px;
    min-width: 300px;

    &:last-of-type {
      margin-right: 0;
    }

    &.add-list {
      border: none;

      ::ng-deep button {
        display: flex;
        margin: 0 auto;
      }
    }

    .title {
      text-align: center;
    }

    .items {
      margin-top: 20px;
      font-size: 14px;
      overflow-y: auto;
      max-height: calc(100vh - 270px);

      .item {
        margin-bottom: 10px;
        border: 1px solid #dee2e6;
        padding: 1rem;
        cursor: pointer;
        display: flex;
        justify-content: space-between;

        &:last-of-type {
          margin-bottom: 0;
        }

        .assign-to {
          font-size: 12px;
          position: relative;
          top: 5px;
        }
      }
    }

    .add-item {
      padding-top: 10px;

      ::ng-deep button {
        display: flex;
        margin: 0 auto;
      }
    }
  }
}

::ng-deep .p-dialog-header-icons {
  display: none !important;
}

.dialog {
  input, textarea, .select-wrapper {
    width: 100%;
    margin-bottom: 17px;
    margin-top: 3px !important;
  }

  .actions {
    display: flex;
    justify-content: center;

    ::ng-deep button:first-of-type {
      margin-right: 20px;
    }
  }

  &.add-list-dialog {
    width: 300px;
  }

  &.item-dialog {
    min-width: 430px;

    .edit-block {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      font-size: 14px;

      button {
        min-width: 67px;

        &.edit {
          position: absolute;
          right: 20px;
          top: 60px;
        }

        &.close {
          position: absolute;
          right: 20px;
          top: 20px;
        }
      }
    }
  }
}
