<div class="board">
  <div class="list" *ngFor="let list of lists">
    <div class="title">{{ list.title }}</div>

    <div class="items"
         (dragover)="onDragOver($event)"
         (drop)="onDrop($event, list.id)"
    >
      <div class="item"
           *ngFor="let item of list.items"
           (click)="openItemDialog(item)"
           (dragstart)="onDragStart($event, list.id, item.id)"
           draggable="true"
           [id]="item.id"
      >
        <div>{{ item.title }}</div>
        <div class="assign-to">{{ item.assignTo.username }}</div>
      </div>
    </div>

    <div class="item add-item">
      <button pButton type="button" label="Add item" icon="pi pi-plus" class="p-button-sm" (click)="openAddItemDialog(list.id)"></button>
    </div>
  </div>

  <div class="list add-list">
    <button pButton type="button" label="Add list" icon="pi pi-plus" class="p-button-sm" (click)="openAddListDialog()"></button>
  </div>
</div>

<p-dialog header="Add new list" [(visible)]="addListDialogVisible">
  <div class="dialog add-list-dialog">
    <input [formControl]="newListTitle" type="text" pInputText>

    <div class="actions">
      <button pButton type="button" label="Close" class="p-button-sm" (click)="closeAddListDialog(true)"></button>
      <button pButton type="button" label="Add" class="p-button-sm" [disabled]="newListTitle.invalid" (click)="closeAddListDialog(false)"></button>
    </div>
  </div>
</p-dialog>

<p-dialog header="Add new item" [(visible)]="listIdToAddingItem">
  <div class="dialog">
    <form [formGroup]="itemForm">
      <div class="select-wrapper">
        <p-cascadeSelect
          formControlName="assignTo"
          [options]="USERS"
          optionLabel="username"
          [optionGroupChildren]="[]"
          [style]="{'minWidth': '100%'}"
        ></p-cascadeSelect>
      </div>

      <input formControlName="title" type="text" pInputText>

      <textarea formControlName="content" pInputTextarea></textarea>
    </form>

    <div class="actions">
      <button pButton type="button" label="Close" class="p-button-sm" (click)="closeAddItemDialog(true)"></button>
      <button pButton type="button" label="Add" class="p-button-sm" [disabled]="itemForm.invalid" (click)="closeAddItemDialog(false)"></button>
    </div>
  </div>
</p-dialog>

<p-dialog [header]="activeItem?.title || ''" [(visible)]="activeItem">
  <div class="dialog item-dialog">
    <ng-container *ngIf="!activeItemEditing">
      <div>{{ activeItem?.content }}</div>
      <div class="edit-block">
        <div class="assign-to">Assigned to: <b>{{ activeItem?.assignTo?.username }}</b></div>
        <button pButton type="button" label="Edit" class="edit p-button-sm" (click)="editItemHandler()"></button>
        <button pButton type="button" label="Close" class="close p-button-sm" (click)="closeItemDialog()"></button>
      </div>
    </ng-container>

    <ng-container *ngIf="activeItemEditing">
      <form [formGroup]="itemForm">
        <div class="select-wrapper">
          <p-cascadeSelect
            formControlName="assignTo"
            [options]="USERS"
            optionLabel="username"
            [optionGroupChildren]="[]"
            [style]="{'minWidth': '100%'}"
          ></p-cascadeSelect>
        </div>

        <input formControlName="title" type="text" pInputText>

        <textarea formControlName="content" pInputTextarea></textarea>
      </form>

      <div class="actions">
        <button pButton type="button" label="Cancel" class="p-button-sm" (click)="closeEditingItemMode(true)"></button>
        <button pButton type="button" label="Save" class="p-button-sm" [disabled]="itemForm.invalid" (click)="closeEditingItemMode(false)"></button>
      </div>
    </ng-container>
  </div>
</p-dialog>
