<div class="board">
  <div class="list" *ngFor="let list of lists">
    <div class="title">{{ list.title }}</div>

    <div class="items">
      <div class="item" *ngFor="let item of list.items">
        <div>{{ item.title }}</div>
        <div class="assign-to">{{ item.assignTo.username }}</div>
      </div>
    </div>

    <div class="item add-item">
      <button pButton type="button" label="Add item" icon="pi pi-plus" class="p-button-sm" (click)="openAddItemDialog(list.id)"></button>
    </div>
  </div>

  <div class="list add-list">
    <button pButton type="button" label="Add list" icon="pi pi-plus" class="p-button-sm" (click)="openAddListDialog()"></button>
  </div>
</div>

<p-dialog header="Add new list" [(visible)]="addListDialogVisible">
  <div class="dialog add-list-dialog">
    <input [formControl]="newListTitle" type="text" pInputText>

    <div class="actions">
      <button pButton type="button" label="Close" class="p-button-sm" (click)="closeAddListDialog(true)"></button>
      <button pButton type="button" label="Add" class="p-button-sm" [disabled]="newListTitle.invalid" (click)="closeAddListDialog(false)"></button>
    </div>
  </div>
</p-dialog>

<p-dialog header="Add new item" [(visible)]="listIdToAddingItem">
  <div class="dialog">
    <form [formGroup]="newItemForm">
      <div class="select-wrapper">
        <p-cascadeSelect
          formControlName="assignTo"
          [options]="USERS"
          optionLabel="username"
          [optionGroupChildren]="[]"
          [style]="{'minWidth': '100%'}"
        ></p-cascadeSelect>
      </div>

      <input formControlName="title" type="text" pInputText>

      <textarea formControlName="content" pInputTextarea></textarea>
    </form>

    <div class="actions">
      <button pButton type="button" label="Close" class="p-button-sm" (click)="closeAddItemDialog(true)"></button>
      <button pButton type="button" label="Add" class="p-button-sm" [disabled]="newItemForm.invalid" (click)="closeAddItemDialog(false)"></button>
    </div>
  </div>
</p-dialog>
